@charset "utf-8";
/* ==============================================
	폰트
============================================== */
@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:300;
	src: url('font/noto-sans-light.eot');
	src: local(''),
	url('font/noto-sans-light.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-light.woff2') format('woff2'),
	url('font/noto-sans-light.woff') format('woff')
	/*url(font/NanumBarunGothicLight.ttf) format('truetype');*/
}

@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:400;
	src: url('font/noto-sans-regular.eot');
	src: local(''),
	url('font/noto-sans-regular.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-regular.woff2') format('woff2'),
	url('font/noto-sans-regular.woff') format('woff')
}

@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:500;
	src: url('font/noto-sans-medium.eot');
	src: local(''),
	url('font/noto-sans-medium.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-medium.woff2') format('woff2'),
	url('font/noto-sans-medium.woff') format('woff')
}
@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:700;
	src: url('font/noto-sans-bold.eot');
	src: local(''),
	url('font/noto-sans-bold.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-bold.woff2') format('woff2'),
	url('font/noto-sans-bold.woff') format('woff')
}
@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:900;
	src: url('font/noto-sans-black.eot');
	src: local(''),
	url('font/noto-sans-black.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-black.woff2') format('woff2'),
	url('font/noto-sans-black.woff') format('woff')
}


/* ==============================================
	리셋
============================================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0;box-sizing: border-box;}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{border-radius:0;vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
html {font-size:62.5%;}
body{background:#fff;direction:ltr;-webkit-text-size-adjust:none;}
body,th,td,input,select,textarea,button {color:#000;font-size:16px;font-family:noto, sans-serif;font-weight:400;line-height:1.5;letter-spacing:-0.35px}
a{color:#000;text-decoration:none}
a:hover{text-decoration:none;}
a:active{background-color:transparent;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:300;}
strong {font-weight:700;}
table {table-layout:fixed;border-collapse:collapse;width:100%;border-spacing:0;border:0;}

div,
dl,
dt,
dd,
ul,
li,
a,
span,
label,
input,
:before,
::before,
:after,
::after {box-sizing:border-box;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance:none;
	margin:0;
}
input[type=file]:focus,
a:focus,
button:focus,
input[type=text] {outline:0;}
label {display:inline-block;vertical-align:middle;}

input:-ms-input-placeholder {color:#bbb;}
input::-webkit-input-placeholder {color:#bbb;}
input::-moz-placeholder{color:#bbb;}
input::placeholder {color:#bbb;}

textarea:-ms-input-placeholder {color:#bbb;}
textarea::-webkit-input-placeholder {color:#bbb;}
textarea::-moz-placeholder{color:#bbb;}
textarea::placeholder {color:#bbb;}


/* ==============
	레이아웃
============== */
/* 해더 */
header {
	position:fixed;
	top:0;
	bottom:0;	
	left:0;
	width:250px;	
	background-color: #414550;
	z-index: 10;
}
header .header {padding:24px 22px;}
header .s-logo {	
	display:flex;
	justify-content: space-around;
	padding:0 0 28px;}
header .s-logo .logo {	
	width:135px;
	height:40px;	
	background:url(../images/layout/logo.png) no-repeat 0 0;
	font-size:0;
	text-indent:-99999px;
	line-height:0;
}
header .info-area {
	margin-top:17px;
}
header .info-area .list-item {
	display:flex;
	justify-content: space-between;
	margin-top:3px;
}
header .info-area .list-item > span {
	font-size:13px;
}
header .info-area .list-item .tit {color:#adb6bf}
header .info-area .list-item .cont {
	color:#fff;
	font-weight: 500;
}
header .balance-area {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:10px 0 15px;
	padding:4px 10px;
	background-color:#333;
	border-radius:2px;
}
header .balance-area .balance {font-size:12px; color:#adb6bf;}
header .balance-area .f-pink {font-size:12px; font-weight: 700;}

header .gnb {
	margin:23px -22px 0;
	background-color: #333;
}

header .gnb .gnb-item .link {
	display:block;
	width:100%;
	position:relative;
	padding:0 20px;
	border-left:6px solid #333;
	border-bottom:1px solid #444;
	color:#adb6bf;
	font-size:16px;
	font-weight:500;
	text-align:left;
	line-height:50px;
	transition:all .3s;
}
header .gnb .gnb-item button.link:after {
	content:'';
	position:absolute;
	top:50%;
	right:27px;
	width:7px;
	height:7px;
	margin-top:-6px;
	border-right:2px solid #7e868f;
	border-bottom:2px solid #7e868f;
	transform:rotate(45deg);
	transition:all .3s;
}
header .gnb .gnb-item.on button.link:after {transform:rotate(225deg); margin-top:0}
header .gnb .gnb-item .link .txt {
	position:relative;
	padding-left:40px;
}
header .gnb .gnb-item .link .txt.fax {background:url(../images/layout/gnb/icon_fax.png) no-repeat 0 0;}
header .gnb .gnb-item .link:hover .txt.fax,
header .gnb .gnb-item.on .link .txt.fax {background:url(../images/layout/gnb/icon_fax_on.png) no-repeat 0 0;}
header .gnb .gnb-item .link .txt.sms {background:url(../images/layout/gnb/icon_sms.png) no-repeat 0 0;}
header .gnb .gnb-item .link:hover .txt.sms,
header .gnb .gnb-item.on .link .txt.sms {background:url(../images/layout/gnb/icon_sms_on.png) no-repeat 0 0;}
header .gnb .gnb-item .link .txt.address {background:url(../images/layout/gnb/icon_address.png) no-repeat 0 0;}
header .gnb .gnb-item .link:hover .txt.address,
header .gnb .gnb-item.on .link .txt.address {background:url(../images/layout/gnb/icon_address_on.png) no-repeat 0 0;}
header .gnb .gnb-item .link .txt.support {background:url(../images/layout/gnb/icon_support.png) no-repeat 0 0;}
header .gnb .gnb-item .link:hover .txt.support,
header .gnb .gnb-item.on .link .txt.support {background:url(../images/layout/gnb/icon_support_on.png) no-repeat 0 0;}

/* hover */
header .gnb .gnb-item .link:hover {color:#fff;}
/* on */
header .gnb .gnb-item.on .link {border-left:6px solid #e03d7c;color:#fff;}

header .gnb .depth {
	display:none;	
	padding:15px 0 20px;
	border:1px solid #ebebeb;
	background-color:#f6f7f8;
	line-height:32px;
	/* opacity:0; */
	/* transition: all 1s; */
}
/* on */
/* header .gnb .on .depth.on {opacity: 1;} */

/* header .gnb .depth {padding-left:64px} */
header .gnb .depth a {
	position: relative;
	display:block;
	padding:0 0 0 10px;
	color:#000;
	font-size:14px;
	text-indent: 52px;
	white-space:nowrap;
	transition:color .2s;
}
header .gnb .depth a:before {
	content:'';
	display:block;
	position:absolute;
	left:52px;
	top:50%;
	margin-top: -2px;
	width:4px;
	height:4px;
	border-radius: 2px;
	background-color:#c0bfc4;
}
header .gnb .gnb-item.on .depth .on,
header .gnb .depth a:hover {color:#e03d7c; background-color:#ecedef}/* hover */
header .gnb .gnb-item.on .depth .on:before,
header .gnb .depth a:hover:before {background-color:#e03d7c}


header .util {margin-top:25px;}
header .util a {
	display:block;
	padding-left:40px;
	font-size: 13px;
	color: #adb6bf;
	line-height:30px;
}
header .util .guide {background:url(../images/layout/gnb/icon_video.png) no-repeat left center;}
header .util .tip {background:url(../images/layout/gnb/icon_tip.png) no-repeat left center;}
header .util .down-fax {background:url(../images/layout/gnb/icon_quick.png) no-repeat left center;}
header .util .num-magage {background:url(../images/layout/gnb/icon_dial.png) no-repeat left center;}
header .util .api {background:url(../images/layout/gnb/icon_api.png) no-repeat left center;}
header .util .mobile {background:url(../images/layout/gnb/icon_mobile.png) no-repeat left center;}

/* 푸터 */
 footer {
	/* position:fixed;
	bottom:0;
	left:0;
	right:0; */
	min-width:970px;
	height:30px;
	border-top:1px solid #dbdbdb;
	background-color:#f6f7f8;
	z-index: 10;
} 
footer  p {
	font-size: 10px;
	color:#999;
	font-weight: 300;
	text-align: center;
	line-height: 30px;
}

/* 컨텐츠 영역 */
.wrapper {
	width:100%;
	min-height:100vh;
	min-width:1280px;
	overflow:hidden;
}
.container {
	position:absolute;
	left:250px;
	right:60px;
	/* top:0; */
	/* width: calc(100% - 310px); */
	/* left:50%;
	margin-left:-390px;
	width:970px; */
	min-height:100vh;
	/* background-color:gold; */
}
 @media all  and (min-width:1470px) {
	.container {
		right:250px;
	}

} 
.container .cont-wrap {
	width:970px;
	margin:0 auto;
}
.container .cont-top {
	width:100%;
	padding:20px 50px 0;
	
}
.cont-top .shadow-box {
	padding:14px 35px;
	display: flex;
	align-items: center;
}

.cont-top .shadow-box > div {flex:1}
.cont-top .fax-area {
	position:relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right:30px;
	box-sizing: border-box;
}
.cont-top .fax-area:before {
	content: '';
	display: block;
	position:absolute;
	top:50%;
	/* left:50%; */
	right:-1px;
	width:2px;
	height:36px;
	margin:-18px 0 0 0;
	background-color:#ecedef;
}
.cont-top .fax-area a {
	/* height:63px; */
	padding:8px 0 8px 73px;
	color:#000;
	font-size:13px;
}
.cont-top .fax-area a + a {margin-left:10px;}

.cont-top .fax-area .btn-fax-receive {	
	background:url(../images/icon/img_63_send.png) no-repeat left center;
}
.cont-top .fax-area .btn-fax-send {	
	background:url(../images/icon/img_63_receive.png) no-repeat left center;
}
.cont-top .fax-area a .txt {
	display:block;
	font-weight:500;
	text-align:left
}
.cont-top .fax-area a .txt em {font-weight:700}

.cont-top .noti-area{
	position: relative;
	overflow:hidden;
	padding:0 25px 
}
.cont-top .noti-area .swiper-container {
	width:100%;
	height:54px;
}
.cont-top .noti-area .swiper-slide  {
	display: flex;
	align-items: center;
	height:inherit !important;
}
.cont-top .noti-area .swiper-slide .item {
	/* height:63px; */
	padding:8px 0 8px 73px;
	background:url(../images/icon/img_63_announcement.png) no-repeat left center;
	font-size:13px;
}
.cont-top .noti-area .swiper-slide .item .tit { color:#000}
.cont-top .noti-area .swiper-slide .item .date {color:#9c9c9c}
.cont-top .noti-area .swiper-button-prev,
.cont-top .noti-area .swiper-button-next {
	position:absolute;	right:0;
	width:15px;
	height:20px;
	background: url(../images/icon/arrow_18_older.png) no-repeat center;
}
.cont-top .noti-area .swiper-button-prev{top:5px; ;}
.cont-top .noti-area .swiper-button-prev:before {
	content: '';
	display: block;
	position:absolute;
	left:0; right:0;
	bottom:-3px;
	width:100%;
	height:1px;
	background-color:#ddd;
}
.cont-top .noti-area .swiper-button-next {bottom:5px;transform: rotate(180deg)}
.container .cont-area {padding:50px 50px 80px 50px;}
.quick-area {
	position:fixed;
	right:0;
	top:0;
	bottom:0;
	background-color: #fff;
	border-left:1px solid #dbdbdb;
}
.quick-area .quick {
	width:60px;
	border-top:6px solid #e03d7c;
	/* transition: width 1s; */
	
}
.quick-area .quick.on {width:250px;}

.quick-area .quick-item .link {
	display:flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height:58px;
	position:relative;	
	border-bottom:1px solid #dbdbdb;
	color:#adb6bf;
	font-size:12px;
	font-weight:500;
	/*transition:all .3s;	*/
	pointer-events: none; 
	 cursor: default;
}
.quick-area .quick.on .quick-item .link {
	justify-content: flex-start;
	padding-left:28px;
	pointer-events: inherit; 
	cursor: pointer;
}
.quick-area .quick.on .quick-item .link .txt {
	padding-top:0; 
	padding-left:40px;
	text-align:left;
	font-size:16px;
	background-position:left center; 
	color:#000
}

.quick-area .quick.on .quick-item button.link:after {
	content:'';
	position:absolute;
	top:50%;
	right:27px;
	width:7px;
	height:7px;
	margin-top:-6px;
	border-right:2px solid #7e868f;
	border-bottom:2px solid #7e868f;
	transform:rotate(45deg);
	transition:all .3s;
}

.quick-area .quick.on .quick-item.on button.link:after {transform:rotate(225deg); margin-top:0}
.quick-area .quick-item:first-child .link {background-color:#414550}
.quick-area .quick-item .link .txt {
	position:relative;
	display: block;
	width:100%;
	/* height:100%; */
	padding-top:25px;
	text-align:center;
	/* padding-left:40px; */
}
.quick-area .quick-item .link .txt.setting {background:url(../images/layout/gnb/icon_setting.png) no-repeat center top; color:#fff !important;}
.quick-area .quick-item .link .txt.admin {background:url(../images/layout/gnb/icon_admin.png) no-repeat center top}
.quick-area .quick-item .link .txt.preferences {background:url(../images/layout/gnb/icon_preferences.png) no-repeat center top}
/* .quick-area .quick-item .link:hover .txt.preferences,
.quick-area .quick-item.on .link .txt.preferences {background:url(../images/layout/gnb/icon_address_on.png) no-repeat center top} */


/* hover */
/* .quick-area .quick-item .link:hover {color:#fff;} */
/* on */
/* .quick-area .quick-item.on .link {border-left:6px solid #e03d7c;color:#fff;} */

.quick-area .quick-item .depth {
	 display:none;
	padding:15px 0 20px 0;	
	background-color:#f6f7f8;
	line-height:32px;
	 opacity:0;
	 text-indent:55px;
}
/* on */
.quick-area .quick-item.on .depth {opacity:1;}

.quick .depth a {
	position: relative;
	display:block;
	padding:0 0 0 10px;
	color:#000;
	font-size:14px;
	white-space:nowrap;
	transition:color .2s;
}
.quick .depth a:before {
	content:'';
	display:block;
	position:absolute;
	left:55px;
	top:50%;
	margin-top: -2px;
	width:4px;
	height:4px;
	border-radius: 2px;
	background-color:#c0bfc4;
}
.quick .quick-item.on .depth .on,
.quick .depth a:hover {color:#e03d7c; background-color:#ecedef}/* hover */
.quick .quick-item.on .depth .on:before,
.quick .depth a:hover:before {background-color:#e03d7c}
/* .container section .content {
	width:100%;
	max-width:1360px;
	margin:0 auto;
	padding:106px 0 0;
} */

.quick-area .btn-quick {
	position:absolute;
	left:14px;
	bottom:14px;
	width:32px;
	height:32px;
	background:url(../images/layout/gnb/arrow_right.png) no-repeat center;
	font-size:0;
	transform:rotate(180deg);
	transition:all .3s;
}
.quick-area .btn-quick.on {
	transform:rotate(0)
}

/* ==============
	공통
============== */
/*폰트*/
.f-white {color:#fff !important}
.f-pink {color:#e03d7c !important}
.f-mint {color:#30b9a0 !important}

.underline {text-decoration: underline;}

/* 타이틀 영역 */
.tit-area {
	position:relative;
	padding-bottom:20px;
	margin-bottom:40px;
}
.tit-area:after {
	content: '';
	display:block;
	width: 35px;
	height:3px;
	position:absolute;
	left:0;
	bottom:0;
	background-color:#e03d7c;

}
.tit-area .txt {
	font-size:14px;
}
.tit-area .tit {
	font-size:30px;
	font-weight:700;
}
/* .tit-area .sub {
	margin-top:15px;
	font-size:16px;
} */

/* 버튼 */
[class^=btn-] {
	display:inline-block;	
	padding:0 10px;
	border-radius:6px;
	color:#fff;	
	text-align:center;	
	border-radius: 2px;
}
[class^=btn-fax] {padding:0}
[class^=btn-].radius2{border-radius: 2px;}
[class^=btn-].wide {width:100%;}
[class^=btn-].bg-pink {background-color: #e03d7c;}
[class^=btn-].bg-gray {background-color: #565864;}
[class^=btn-].bg-white {background-color: #fff;}

/* border버튼 */
[class*=btn-border] {	
  height: 25px; 
  font-size: 12px;  
  line-height:23px;
  text-align:center;
  border-radius: 2px;
}
[class*=btn-border].bg-gray {
	border: solid 1px #696c73; 
	color: #fff;
}
[class*=btn-border].bg-white {
	border: solid 1px #dbdbdb; 
	color: #000;
}
[class*=btn-border].bd-pink {
	border:solid 1px #e03d7c;
	color:#e03d7c;
}

/* 이미지버튼 */
[class*=icon-]{position:relative; }
[class*=icon-]:before{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:50%;

}
[class^=btn-] .icon-send {
	padding-left:24px;
	font-weight:500 !important;
}
[class^=btn-] .icon-send:before {
	margin-top:-9px;
	width: 18px;
	height:18px;
	background:url(../images/layout/gnb/icon_quick_white.png) no-repeat 0 0;
}

.btn-mid [class^=icon-] {
	padding-left:20px;
	/*font-weight:500 !important;*/
}
.btn-mid [class^=icon-]:before {
	margin-top:-8px;
	width: 16px;
	height:16px;
}
.icon-delete:before {	
	background:url(../images/icon/icon_16_delete.png) no-repeat 0 0;
}
.icon-address:before {	
	background:url(../images/icon/icon_16_address.png) no-repeat 0 0;
}
.icon-excel:before {	
	background:url(../images/icon/icon_16_excel.png) no-repeat 0 0;
}
.icon-attach:before {	
	background:url(../images/icon/btn_16_upload.png) no-repeat 0 0;
}

.btn-xs {
	height:26px;
}
.btn-sm {
	height:31px; 
	padding:0 8px;
	font-size:12px;
	line-height:30px;
}
.btn-mid {
	min-width:60px;
	height:34px;
	line-height:32px;
	font-size:14px;
	font-weight:500;
}
.btn-lg {
	min-width:190px;
	height:52px;
	line-height:52px;
	font-size:16px;
	font-weight:700;
	border-radius:6px;
}

/* .btn-area {
	font-size:0;
	text-align:center;
} */
/* .button-area [class^=btn-txt-] + [class^=btn-txt-] {margin-left:6px;} */

.button-area {display: flex;}
.button-area.justify {justify-content: space-between;}
.button-area.center {justify-content: center;}

.button-area .col1 {flex:1}
.button-area [class^=btn-] + [class^=btn-] {margin-left:4px}

/*box*/
.shadow-box {
	padding:10px 35px;
	border-radius: 8px;
	box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
	background-color: #fff;
}

/* ==============
	폼요소
============== */
/* .form-list > .form-wrap {margin-left:30px; font-size:14px}
.form-list > .form-wrap .chkbox{margin-right:5px}
.form-list > .form-wrap:first-child {margin-left:0}
.form-list.block > .form-wrap {display: block; margin-left:0; margin-top:5px} */
.form-list {display: flex; justify-content: left; flex-wrap: wrap;}
.form-list > .form-wrap {margin-right:30px;  font-size:14px}
.form-list > .form-wrap .chkbox{margin-right:5px}
.form-list.block {display:inherit}
.form-list.block > .form-wrap {display: block;margin-top:5px;}
.form-list > .form-wrap:first-child {margin-top:0}

input[type=radio][class^=styled],
input[type=checkbox][class^=styled] {
    position:relative;
    z-index:5;
    opacity:0;
}
.chkbox {
    display:inline-block;
    position:relative;
	top: -1px;
    box-sizing:border-box;
    font-size:0;
    vertical-align:middle;
}

.chkbox .chk {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-sizing:border-box;
    border:1px solid #c7c7c7;
}

/* 라디오 */
.chkbox input[type=radio] {
    width:20px;
    height:20px;
    margin:0;
    padding:0;
}
.chkbox input[type=radio] + .chk {border-radius:50%;}
.chkbox input[type=radio] + .chk:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    height:100%;
    border-radius:50%;
    background-color:#e03d7c;
    opacity:0;
}
.chkbox input[type=radio]:checked + .chk {border:2px solid#e03d7c}
.chkbox input[type=radio]:checked + .chk:before {
    width:50%;
    height:50%;
    opacity:1;
    /* transition:all .3s; */
}
.chkbox input[type=radio][disabled] + .chk {background-color:#f5f5f5; border-color:#c7c7c7}
.chkbox input[type=radio][disabled] + .chk:before {background-color:#ddd;}

/* 체크박스 */
.chkbox input[type=checkbox] {
    width:16px;
    height:16px;
    margin:0;
    padding:0;
}
.chkbox input[type=checkbox] + .chk:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    width:40%;
    height:70%;
    margin-top:-7%;
    box-sizing:border-box;
    border-right:2px solid #e03d7c;
    border-bottom:2px solid #e03d7c;
    opacity:0;
}
.chkbox input[type=checkbox]:checked + .chk {border-color:#e03d7c}
.chkbox input[type=checkbox]:checked + .chk:before {
    transform:translate(-50%,-50%) rotate(45deg);
    opacity:1;
    /* transition:all .3s; */
}
.chkbox input[type=checkbox][disabled] + .chk {background-color:#f5f5f5;}
.chkbox input[type=checkbox][disabled] + .chk:before {border-color:#ddd;}

/*styled2
.chkbox input[type=checkbox].styled2 {
    width:25px;
    height:25px;
    margin:0;
    padding:0;
}
.chkbox input[type=checkbox].styled2 + .chk:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    width:40%;
    height:70%;
    margin-top:-7%;
    box-sizing:border-box;
    border-right:4px solid #e03d7c;
    border-bottom:4px solid #e03d7c;
    opacity:0;
}
.chkbox input[type=checkbox].styled2:checked + .chk:before {
    transform:translate(-50%,-50%) rotate(45deg);
    opacity:1;
  
}
.chkbox input[type=checkbox].styled2[disabled] + .chk {background-color:#f5f5f5;}
.chkbox input[type=checkbox].styled2[disabled] + .chk:before {border-color:#ddd;}
*/
.select-box {
	display:inline-block;
}
.select-box select.styled{
	height: 34px;
    padding:0 40px 0 10px;
    border: 1px solid #dbdbdb;    
    background: #fff url(../images/icon/icon_16_down.png) no-repeat calc(100% - 10px) center;
    font-size: 14px;
    line-height: 32px;
    outline: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
	box-sizing: border-box;
}	
.select-box.wide {display:block;}
.select-box.wide select{
	width:100%; 
	padding-left:20px
}

/* 인풋 */
.input-text input {
	height:34px;
	padding:0 10px;
	line-height:32px;
	border:1px solid #dbdbdb;
	font-size:13px;
}

/* ==============
	테이블
============== */
[class^=board-] .input-text input[type="text"] {
	width:100%;
}

/* 리스트 테이블 */
.board-list {
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;	
}
.board-list table {
	width:100%;

}
.board-list table caption {display:none;}
.board-list table thead th {
	height:48px;
	background-color:#f6f7f8;
	font-size:14px;
	color:#000;
	font-weight:700;
}

.board-list table td {
	padding:14px 0;
	color:#000;
	font-size:14px;
	text-align:center;
	border-top:1px solid #f2f2f2;
	word-wrap:break-word;
}
.board-list table  tr:first-child td {border-top:0} 
/* .board-list table td.subject {padding:0;}
.board-list table tbody td.subject {padding:0 0 0 20px;text-align:left;}
.board-list table tbody td.subject .link {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%;
	padding:15px 30px 15px 0;
	color:#333;
	text-align:left;
	box-sizing:border-box;
}
.board-list table td.subject .link span {vertical-align:middle;}
.board-list table td.subject .link .ico-reply {display:inline-block;margin-top:-5px;padding-right:6px;}
.board-list table td.subject .tit {
	display:inline-block;
	max-width:98%;
	padding-right:1px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	vertical-align:middle;
} */




.board-list table .chkbox,
.board-list table img {vertical-align:middle;}
/* .board-list table td .icon-important {
	display:inline-block;
	width:44px;height:24px;
	font-size:12px;
	text-align:center;
	background-color:#fff;
	border:1px solid;
	box-sizing:border-box;
} */

/* 뷰 */
.board-write {

	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
}

/* .board-write thead th {
	height:48px;
	padding:18px 30px;
	text-align:center;
	background-color:#f6f7f8;
	border-bottom:1px solid #eee;
	font-size:14px;
	box-sizing:border-box; 
}*/
.board-write th,
.board-write td {
	height:48px;
	border-top:1px solid #dbdbdb;
	box-sizing:border-box;
}
 .board-write tr:first-child th,
.board-write tr:first-child td {border-top:0;} 
.board-write th {
	padding:15px 20px;
	background-color:#f6f7f8;
	color:#000;
	font-weight:700;
	font-size:14px;
	text-align:left;
}
/* .board-write tbody th {padding:0;} */
.board-write td {	
	padding:7px 15px;
	box-sizing:border-box;
}


/*그리드*/
.grid-style .grid-item {display: flex;}
.grid-style .grid-item .tit {
	width:150px;
	font-size:16px;
	font-weight:700
}
.grid-style .grid-item .tit span {display:inline-block;padding-right:30px;position:relative;}
.grid-style .grid-item .tooltip-area {
	position:absolute;
	right:0;
	top:-2px;
}
.grid-style .grid-item .cont {
	width:720px;
}

/*페이징*/
.pagenation {
	position:relative;	
	font-size:0;
	text-align:center;
}
.pagenation .page {
	display:inline-block;	
	margin:0 8px;
	color:#000;
	font-size:14px;
	vertical-align:middle;
	line-height:24px;
	font-weight: 400;
}
/* .pagenation .page:hover {border-color:#666;} */
.pagenation [class^=btn-] {
	position:relative;
	width:28px;
	height:28px;
	font-size:0;
	text-indent:-99999px;
	line-height:0;
	background-color:#fff;
	border:1px solid #dbdbdb;
}
.pagenation [class^=btn-]:before {
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	width:20px;
	height:20px;
	margin:-10px 0 0 -10px;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.pagenation .btn-prev {margin-left:0}
.pagenation .btn-next {margin-right:0}
.pagenation .btn-first {margin-right:5px}
.pagenation .btn-last {margin-left:5px}
.pagenation .btn-first:before {background-image:url(../images/icon/icon_28_firstpage.png);}
.pagenation .btn-prev:before {background-image:url(../images/icon/icon_28_older.png);}
.pagenation .btn-next:before {
	transform:rotate(180deg);
	background-image:url(../images/icon/icon_28_older.png);
}
.pagenation .btn-last:before {
	transform:rotate(180deg);
	background-image:url(../images/icon/icon_28_firstpage.png);
}
.pagenation .page.now {
	/* border-color:#1d98e3; */
	/* background-color:#1d98e3; */
	position:relative;
	color:#e03d7c;
	font-weight:700;
}
.pagenation .page.now:before {
	content: '';
	display:block;
	height:2px;
	position:absolute;
	left:0;right:-1px;
	bottom:0;
	background-color:#e03d7c;
}

.pagenation.disabled:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	width:100%;
	height:100%;
}
.pagenation.disabled .page {
	border-color:#e5e5e5;
	background-color:#fafafa;
	color:#000;
	font-weight:400
}
.pagenation.disabled .page.now {
	border-color:#e3e3e3;
	background-color:#e3e3e3;
}


/* ==============
	탭
============== */

.tab-lst {
	display:flex;
	position:relative;
	padding-left:1px;
}

.tab-lst .tab-item {
	flex:1;
	position:relative;
	margin-left:-1px;
}
.tab-lst .tab-item .btn {
	display:block;
	width:100%;
	height:44px;
	box-sizing:border-box;
	color:#999;
	font-size:14px;
	font-weight:500;
	text-align:center;
	outline:0;
}
.tab-lst .tab-item .btn .txt {
	display:block;
	position:relative;
	border:1px solid #dbdbdb;
	background-color:#f6f7f8;
	line-height:44px;
}

/* on */
.tab-lst .tab-item.on .btn,
.tab-lst .tab-item.on .btn .txt {transition:all .2s;}
.tab-lst .tab-item.on {z-index:10;}
.tab-lst .tab-item.on .btn {
	color:#000;
}
.tab-lst .tab-item.on .btn .txt {
	background-color:#fff;
	border-color:#dbdbdb;
	border-bottom-color:#fff;
	line-height:44px;
}

.tab-cont {display:none;}
.tab-cont.on {display:block;}


.tab-lst.depth2 {
	display:inline-flex
}
.tab-lst.depth2 .tab-item {flex: inherit;}
.tab-lst.depth2 .tab-item .btn {font-size:16px; color:#9c9c9c; font-weight:400}
.tab-lst.depth2 .tab-item .btn .txt {border:0;background-color:#fff}
.tab-lst.depth2 .tab-item.on .btn {color:#e03d7c}
.tab-lst.depth2 .tab-item + .tab-item .btn .txt {padding-left:15px; margin-left:15px}
.tab-lst.depth2 .tab-item + .tab-item .btn .txt:before {
	content: '';
	display: block;
	width:1px;
	height:15px;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-7px;
	background-color:#c7c7c7;
}

/* ==============
	툴팁
============== */
.tooltip-area {/*display: inline-block;*/}
.tooltip-area .tooltip-layer {
	display:none;
	position:absolute;
	width:320px;
	padding:15px 37px 15px 15px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  	border: solid 1px #dbdbdb;
	  background-color:#fff;
	  font-size:13px;
	  font-weight:400;
	  z-index:100
}
.btn-tooltip {
	width:18px;
	height:18px;
	background:url(../images/icon/icon_18_info.png) no-repeat 0 0;
	font-size:0;
}
/* .btn-tooltip-close {
	width:18px;
	height:18px;
	background:url(../images/icon/icon_18_info.png) no-repeat 0 0;
	font-size:0;
} */
.btn-tooltip-close{
	width:18px;
	height:18px;
	position:absolute;
	right:15px;
	top:10px;
	text-indent:-9999px;
  }
  .btn-tooltip-close:before,.btn-tooltip-close:after{
	content:'';
	width:12px;
	height:1px;
	position:absolute;
	left:50%;
	top:50%;
	border-radius:4px;
	background:#333
  }
  .btn-tooltip-close:before{
	transform:translate(-50%,-50%) rotate(-45deg)
  }
  .btn-tooltip-close:after{
	transform:translate(-50%,-50%) rotate(45deg)
  }
/* ==============
	컨텐츠
============== */
/* 팩스 보내기 */
/* .grid-style .grid-item {display: flex;} */

