@charset "utf-8";
/* ==============================================
	폰트
============================================== */
@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:300;
	src: url('font/noto-sans-light.eot');
	src: local(''),
	url('font/noto-sans-light.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-light.woff2') format('woff2'),
	url('font/noto-sans-light.woff') format('woff')
	/*url(font/NanumBarunGothicLight.ttf) format('truetype');*/
}

@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:400;
	src: url('font/noto-sans-regular.eot');
	src: local(''),
	url('font/noto-sans-regular.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-regular.woff2') format('woff2'),
	url('font/noto-sans-regular.woff') format('woff')
}

@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:500;
	src: url('font/noto-sans-medium.eot');
	src: local(''),
	url('font/noto-sans-medium.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-medium.woff2') format('woff2'),
	url('font/noto-sans-medium.woff') format('woff')
}
@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:700;
	src: url('font/noto-sans-bold.eot');
	src: local(''),
	url('font/noto-sans-bold.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-bold.woff2') format('woff2'),
	url('font/noto-sans-bold.woff') format('woff')
}
@font-face {
	font-family:noto;
	font-style:normal;
	font-weight:900;
	src: url('font/noto-sans-black.eot');
	src: local(''),
	url('font/noto-sans-black.eot?#iefix') format('embedded-opentype'),
	url('font/noto-sans-black.woff2') format('woff2'),
	url('font/noto-sans-black.woff') format('woff')
}


/* ==============================================
	리셋
============================================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0;box-sizing: border-box;}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{border-radius:0;vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
html {font-size:62.5%;}
body{background:#fff;direction:ltr;-webkit-text-size-adjust:none;}
body,th,td,input,select,textarea,button {color:#000;font-size:16px;font-family:noto, sans-serif;font-weight:400;line-height:1.5;letter-spacing:-0.35px}
a{color:#000;text-decoration:none}
a:hover{text-decoration:none;}
a:active{background-color:transparent;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:300;}
strong {font-weight:700;}
table {table-layout:fixed;border-collapse:collapse;width:100%;border-spacing:0;border:0;}

div,
dl,
dt,
dd,
ul,
li,
a,
span,
label,
input,
:before,
::before,
:after,
::after {box-sizing:border-box;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance:none;
	margin:0;
}
input[type=file]:focus,
a:focus,
button:focus {outline:0;}

label {display:inline-block;vertical-align:middle;}


/* ==============
	레이아웃
============== */
/* 해더 */
header {
	position:fixed;
	top:0;
	bottom:0;	
	left:0;
	width:250px;
	/* min-height: 100vh;
	
	overflow-y: auto;	 */
	background-color: #414550;
}
header .header {padding:24px 22px;}
header .s-logo {	
	display:flex;
	justify-content: space-around;
	padding:0 0 28px;}
header .s-logo .logo {	
	width:135px;
	height:40px;	
	background:url(../images/layout/logo.png) no-repeat 0 0;
	font-size:0;
	text-indent:-99999px;
	line-height:0;
}
header .info-area {
	margin-top:17px;
}
header .info-area .list-item {
	display:flex;
	justify-content: space-between;
	margin-top:3px;
}
header .info-area .list-item > span {
	font-size:13px;
}
header .info-area .list-item .tit {color:#adb6bf}
header .info-area .list-item .cont {
	color:#fff;
	font-weight: 500;
}
header .balance-area {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:10px 0 15px;
	padding:4px 10px;
	background-color:#333;
	border-radius:2px;
}
header .balance-area .balance {font-size:12px; color:#adb6bf;}
header .balance-area .f-pink {font-size:12px; font-weight: 700;}

header .gnb {
	margin:23px -22px 0;
	background-color: #333;
}

header .gnb .gnb-item .link {
	display:block;
	width:100%;
	position:relative;
	padding:0 20px;
	border-left:6px solid #333;
	border-bottom:1px solid #444;
	color:#adb6bf;
	font-size:16px;
	font-weight:500;
	text-align:left;
	line-height:50px;
	transition:all .3s;
}
header .gnb .gnb-item button.link:after {
	content:'';
	position:absolute;
	top:50%;
	right:27px;
	width:7px;
	height:7px;
	margin-top:-6px;
	border-right:2px solid #7e868f;
	border-bottom:2px solid #7e868f;
	transform:rotate(45deg);
	transition:all .3s;
}
header .gnb .gnb-item.on button.link:after {transform:rotate(225deg); margin-top:0}
header .gnb .gnb-item .link .txt {
	position:relative;
	padding-left:40px;
}
header .gnb .gnb-item .link .txt.fax {background:url(../images/layout/gnb/icon_fax.png) no-repeat 0 0;}
header .gnb .gnb-item .link:hover .txt.fax,
header .gnb .gnb-item.on .link .txt.fax {background:url(../images/layout/gnb/icon_fax_on.png) no-repeat 0 0;}
header .gnb .gnb-item .link .txt.sms {background:url(../images/layout/gnb/icon_sms.png) no-repeat 0 0;}
header .gnb .gnb-item .link:hover .txt.sms,
header .gnb .gnb-item.on .link .txt.sms {background:url(../images/layout/gnb/icon_sms_on.png) no-repeat 0 0;}
header .gnb .gnb-item .link .txt.address {background:url(../images/layout/gnb/icon_address.png) no-repeat 0 0;}
header .gnb .gnb-item .link:hover .txt.address,
header .gnb .gnb-item.on .link .txt.address {background:url(../images/layout/gnb/icon_address_on.png) no-repeat 0 0;}
header .gnb .gnb-item .link .txt.support {background:url(../images/layout/gnb/icon_support.png) no-repeat 0 0;}
header .gnb .gnb-item .link:hover .txt.support,
header .gnb .gnb-item.on .link .txt.support {background:url(../images/layout/gnb/icon_support_on.png) no-repeat 0 0;}

/* hover */
header .gnb .gnb-item .link:hover {color:#fff;}
/* on */
header .gnb .gnb-item.on .link {border-left:6px solid #e03d7c;color:#fff;}

header .gnb .depth {
	display:none;	
	padding:15px 0 20px;
	border:1px solid #ebebeb;
	background-color:#fff;
	line-height:32px;
	opacity:0;
}
/* on */
header .gnb .on .depth.on {opacity: 1;}

header .gnb .depth {padding-left:64px}
header .gnb .depth a {
	position: relative;
	display:block;
	padding:0 0 0 10px;
	color:#000;
	font-size:14px;
	white-space:nowrap;
	transition:color .2s;
}
header .gnb .depth a:before {
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:50%;
	margin-top: -2px;
	width:4px;
	height:4px;
	border-radius: 2px;
	background-color:#c0bfc4;
}
header .gnb .gnb-item.on .depth .on,
header .gnb .depth a:hover {color:#e03d7c;}/* hover */
header .gnb .gnb-item.on .depth .on:before,
header .gnb .depth a:hover:before {background-color:#e03d7c}


header .util {margin-top:25px;}
header .util a {
	display:block;
	padding-left:40px;
	font-size: 13px;
	color: #adb6bf;
	line-height:30px;
}
header .util .guide {background:url(../images/layout/gnb/icon_video.png) no-repeat left center;}
header .util .tip {background:url(../images/layout/gnb/icon_tip.png) no-repeat left center;}
header .util .down-fax {background:url(../images/layout/gnb/icon_quick.png) no-repeat left center;}
header .util .num-magage {background:url(../images/layout/gnb/icon_dial.png) no-repeat left center;}
header .util .api {background:url(../images/layout/gnb/icon_api.png) no-repeat left center;}
header .util .mobile {background:url(../images/layout/gnb/icon_mobile.png) no-repeat left center;}

/* 푸터 */
/* footer {
	height:360px;
	border-top:1px solid #e5e5e5;
} */
/* 컨텐츠 영역 */
.wrapper {
	width:100%;
	min-width:1260px;
	overflow:hidden;
}
.container {
	position:absolute;
	left:250px;
	top:0;
	width: calc(100% - 310px);
	min-height:100vh;
	background-color:gold;
}
.container .cont-top {

}

.quick-area {
	position:fixed;
	right:0;
	top:0;
	bottom:0;
	background-color: #fff;
}
.quick-area .quick {
	width:60px;
	border-top:6px solid #e03d7c
}
.quick-area .quick.on {width:250px;}

.quick-area .quick-item .link {
	display:flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height:58px;
	position:relative;	
	border-bottom:1px solid #dbdbdb;
	color:#adb6bf;
	font-size:12px;
	font-weight:500;
	/*transition:all .3s;	*/
	pointer-events: none; 
	 cursor: default;
}
.quick-area .quick.on .quick-item .link {
	justify-content: flex-start;
	padding-left:28px;
	pointer-events: inherit; 
	cursor: pointer;
}
.quick-area .quick.on .quick-item .link .txt {padding-top:0; padding-left:40px;text-align:left;font-size:16px;background-position:left center; color:#000}

.quick-area .quick.on .quick-item button.link:after {
	content:'';
	position:absolute;
	top:50%;
	right:27px;
	width:7px;
	height:7px;
	margin-top:-6px;
	border-right:2px solid #7e868f;
	border-bottom:2px solid #7e868f;
	transform:rotate(45deg);
	transition:all .3s;
}

.quick-area .quick.on .quick-item.on button.link:after {transform:rotate(225deg); margin-top:0}
.quick-area .quick-item:first-child .link {background-color:#414550}
.quick-area .quick-item .link .txt {
	position:relative;
	display: block;
	width:100%;
	/* height:100%; */
	padding-top:25px;
	text-align:center;
	/* padding-left:40px; */
}
.quick-area .quick-item .link .txt.setting {background:url(../images/layout/gnb/icon_setting.png) no-repeat center top; color:#fff !important;}
.quick-area .quick-item .link .txt.admin {background:url(../images/layout/gnb/icon_admin.png) no-repeat center top}
.quick-area .quick-item .link .txt.preferences {background:url(../images/layout/gnb/icon_preferences.png) no-repeat center top}
/* .quick-area .quick-item .link:hover .txt.preferences,
.quick-area .quick-item.on .link .txt.preferences {background:url(../images/layout/gnb/icon_address_on.png) no-repeat center top} */


/* hover */
/* .quick-area .quick-item .link:hover {color:#fff;} */
/* on */
/* .quick-area .quick-item.on .link {border-left:6px solid #e03d7c;color:#fff;} */

.quick-area .quick-item .depth {
	 display:none;
	padding:15px 0 20px 60px;	
	background-color:#f6f7f8;
	line-height:32px;
	 opacity:0;
}
/* on */
.quick-area .quick-item.on .depth {opacity:1;}

.quick .depth a {
	position: relative;
	display:block;
	padding:0 0 0 10px;
	color:#000;
	font-size:14px;
	white-space:nowrap;
	transition:color .2s;
}
.quick .depth a:before {
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:50%;
	margin-top: -2px;
	width:4px;
	height:4px;
	border-radius: 2px;
	background-color:#c0bfc4;
}
.quick .gnb-item.on .depth .on,
.quick .depth a:hover {color:#e03d7c;}/* hover */
.quick .gnb-item.on .depth .on:before,
.quick .depth a:hover:before {background-color:#e03d7c}
/* .container section .content {
	width:100%;
	max-width:1360px;
	margin:0 auto;
	padding:106px 0 0;
} */

.quick-area .btn-quick {
	position:absolute;
	left:14px;
	bottom:14px;
	width:32px;
	height:32px;
	background:url(../images/layout/gnb/arrow_right.png) no-repeat center;
	font-size:0;
	transform:rotate(180deg);
	transition:all .3s;
}
.quick-area .btn-quick.on {
	transform:rotate(0)
}

/* ==============
	공통
============== */
/*폰트*/
.f-white {color:#fff !important}
.f-pink {color:#e03d7c !important}

/* 타이틀 영역 */
.tit-txt-area {text-align:center;}
.tit-txt-area .txt {
	margin-bottom:15px;
	font-size:14px;
}
.tit-txt-area .tit {
	font-size:38px;
	font-weight:300;
}
.tit-txt-area .sub {
	margin-top:15px;
	font-size:16px;
}

/* 버튼 */
[class^=btn-] {
	display:inline-block;	
	padding:0 10px;
	border-radius:6px;
	color:#fff;	
	text-align:center;	
	border-radius: 6px;
}
[class^=btn-].wide {width:100%;}
/* 이미지버튼 */
[class*=icon-]{position:relative; }
[class*=icon-]:before{
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:50%;

}
[class^=btn-] .icon-send {padding-left:24px;font-weight:500;}
[class^=btn-] .icon-send:before {
	margin-top:-9px;
	width: 18px;
	height:18px;
	background:url(../images/layout/gnb/icon_quick_white.png) no-repeat 0 0;
}

/* border버튼 */
[class*=btn-border] {	
  height: 25px; 
  border-radius: 2px; 
  font-size: 12px;  
  line-height:23px;
  text-align:center;
}
[class*=btn-border].bg-gray {
	border: solid 1px #696c73; 
	color: #fff;
}



/* [class^=btn-txt-] .arr {
	display:inline-block;
	padding-right:24px;
	background:url(../imgs/main/btn_arr.png) no-repeat 100% 50%;
} */
.btn-sm {}
.btn-mid {}
.btn-lg {height:52px;line-height:52px;font-size:16px;}

[class^=btn-].bg-pink {background-color: #e03d7c;}
[class^=btn-].bg-gray {background-color: #565864;}

/* .btn-area {
	font-size:0;
	text-align:center;
} */
/* .button-area [class^=btn-txt-] + [class^=btn-txt-] {margin-left:6px;} */

.button-area {display: flex;}
.button-area.justify {justify-content: space-between;}
.button-area.center {justify-content: center;}

.button-area .col1 {flex:1}
.button-area [class^=btn-] + [class^=btn-] {margin-left:4px}
/* ==============
	컨텐츠
============== */
